.SQR {
     position: absolute; margin-left:1px; margin-top: -18px
}

.SQR2 {
     margin-left: -9px; margin-top: -5.5px;
}

.TentoN {
     position: absolute; margin-left:10px; margin-top: -10px; font-size: 10px;
}

.TentoN2 {
     margin-left: -5.5px;  margin-top: -5.9px;
}

.En {
     position: absolute; margin-left:7px; margin-top: -9px; font-size: 10px;
}

.En2 {
     margin-left: -2.5px; margin-top: -5.9px;
}

.On {
     margin-left: -7px; font-size: 15px; margin-top: -5.9px;
}

.Off {
     margin-left: -10px; margin-top: -5.9px;
}

.Operations {
     position: absolute; margin-left: -9px; margin-top: -7px; font-size: 10px;
}

.delete {
     position: absolute; margin-left: -5px; margin-top: -7px; font-size: 10px;
}

.logic {
     position: absolute; margin-left:-10.5px; margin-top: -7px; font-size: 10px;
}

.XposN {
     position: absolute; margin-left: 8px; margin-top: -10px; font-size: 10px;
}

.XposN2 {
     margin-left: -3px; margin-top: -5px;
}

.XnegN {
     position: absolute; margin-left: 5px; margin-top: -10px; font-size: 10px;
}

.XnegN2 {
     margin-left: -3px; margin-top: -5px;
}

.changeValue {
     position: absolute; margin-left: -4px; margin-top: -8px; font-size: 10px;
}

.sin {
     position: absolute; margin-left: -5px; margin-top: -8px; font-size: 10px;
}

.cos {
     position: absolute; margin-left: -7px; margin-top: -8px; font-size: 10px;
}

.tan {
     position: absolute; margin-left: -7px; margin-top: -8px; font-size: 10px;
}

.symbol {
     position: absolute; margin-left: -7px; margin-top: -8px; font-size: 10px;
}

.num {
     margin-left: -1px;
}

.num2 {
     margin-left: -2px;
}

.operations2 {
     margin-left: -1.5px;
}

.allClear {
     margin-left: -5.5px;
}

.num0 {
     margin-left: -1px; margin-top: -7px;
}

.allClear {
     margin-left: -5.5px;
}

.decimal {
     position: absolute; margin-top: -25px; margin-left: -0.5px; font-size: 30px;
}

.expo {
     margin-left: -10px;
}

.enter {
     position: absolute; margin-left: -11.8px; margin-top: -8px; font-size: 10px;
}